# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kaitangata,NZ,-46.2817,169.8464,53.35,56,19,9.33,few clouds
1,1,Iracoubo,GF,5.4802,-53.2011,77.45,88,100,6.76,overcast clouds
2,2,Port-Cartier,CA,50.0334,-66.8654,43.02,89,89,5.59,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,35.26,87,75,33.38,broken clouds
4,4,Nieuwpoort,BE,51.1244,2.7735,56.23,94,100,6.91,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Iracoubo,GF,5.4802,-53.2011,77.45,88,100,6.76,overcast clouds
8,8,Kavaratti,IN,10.5669,72.6420,81.07,73,91,6.20,overcast clouds
14,14,Hilo,US,19.7297,-155.0900,86.29,80,40,11.50,scattered clouds
23,23,Salalah,OM,17.0151,54.0924,75.29,78,0,5.75,clear sky
27,27,Morant Bay,JM,17.8815,-76.4093,82.02,82,92,7.11,overcast clouds
28,28,Avarua,CK,-21.2078,-159.7750,78.85,78,75,14.97,broken clouds
31,31,Laguna,US,38.4210,-121.4238,79.09,60,0,6.91,clear sky
32,32,Merced,US,37.1666,-120.7516,78.30,47,0,6.20,clear sky
36,36,Porbandar,IN,21.6422,69.6093,83.89,66,94,4.83,overcast clouds
37,37,Dawei,MM,14.0833,98.2000,84.24,68,37,1.72,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Check for empty rows
preferred_cities_df.count()

# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Iracoubo,GF,5.4802,-53.2011,77.45,88,100,6.76,overcast clouds
8,8,Kavaratti,IN,10.5669,72.6420,81.07,73,91,6.20,overcast clouds
14,14,Hilo,US,19.7297,-155.0900,86.29,80,40,11.50,scattered clouds
23,23,Salalah,OM,17.0151,54.0924,75.29,78,0,5.75,clear sky
27,27,Morant Bay,JM,17.8815,-76.4093,82.02,82,92,7.11,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
649,649,Luanda,AO,-8.8368,13.2343,75.20,83,75,4.61,broken clouds
650,650,Hienghene,NC,-20.6833,164.9333,76.55,67,25,6.64,scattered clouds
653,653,Aquiraz,BR,-3.9014,-38.3911,80.69,84,48,15.84,scattered clouds
655,655,Carmen,MX,18.6333,-91.8333,80.35,87,93,3.58,overcast clouds
658,658,Ibra,OM,22.6906,58.5334,75.54,32,11,2.68,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()

# Display sample data
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Current Description
1     Iracoubo      GF     77.45   5.4802  -53.2011     overcast clouds
8    Kavaratti      IN     81.07  10.5669   72.6420     overcast clouds
14        Hilo      US     86.29  19.7297 -155.0900    scattered clouds
23     Salalah      OM     75.29  17.0151   54.0924           clear sky
27  Morant Bay      JM     82.02  17.8815  -76.4093     overcast clouds
28      Avarua      CK     78.85 -21.2078 -159.7750       broken clouds
31      Laguna      US     79.09  38.4210 -121.4238           clear sky
32      Merced      US     78.30  37.1666 -120.7516           clear sky
36   Porbandar      IN     83.89  21.6422   69.6093     overcast clouds
37       Dawei      MM     84.24  14.0833   98.2000    scattered clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Iracoubo,GF,77.45,5.4802,-53.2011,overcast clouds,
8,Kavaratti,IN,81.07,10.5669,72.6420,overcast clouds,
14,Hilo,US,86.29,19.7297,-155.0900,scattered clouds,
23,Salalah,OM,75.29,17.0151,54.0924,clear sky,
27,Morant Bay,JM,82.02,17.8815,-76.4093,overcast clouds,
28,Avarua,CK,78.85,-21.2078,-159.7750,broken clouds,
31,Laguna,US,79.09,38.4210,-121.4238,clear sky,
32,Merced,US,78.30,37.1666,-120.7516,clear sky,
36,Porbandar,IN,83.89,21.6422,69.6093,overcast clouds,
37,Dawei,MM,84.24,14.0833,98.2000,scattered clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Iracoubo,GF,77.45,5.4802,-53.2011,overcast clouds,Le Gîte d’Iracoubo
8,Kavaratti,IN,81.07,10.5669,72.6420,overcast clouds,Green leaf
14,Hilo,US,86.29,19.7297,-155.0900,scattered clouds,Hilo Hawaiian Hotel
23,Salalah,OM,75.29,17.0151,54.0924,clear sky,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
27,Morant Bay,JM,82.02,17.8815,-76.4093,overcast clouds,Whispering Bamboo Cove Resort
28,Avarua,CK,78.85,-21.2078,-159.7750,broken clouds,Paradise Inn
31,Laguna,US,79.09,38.4210,-121.4238,clear sky,Holiday Inn Express & Suites Elk Grove Central...
32,Merced,US,78.30,37.1666,-120.7516,clear sky,
36,Porbandar,IN,83.89,21.6422,69.6093,overcast clouds,Lords Inn Porbandar
37,Dawei,MM,84.24,14.0833,98.2000,scattered clouds,Hotel Dawei

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
# Display sample data
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Iracoubo,GF,77.45,5.4802,-53.2011,overcast clouds,Le Gîte d’Iracoubo
8,Kavaratti,IN,81.07,10.5669,72.6420,overcast clouds,Green leaf
14,Hilo,US,86.29,19.7297,-155.0900,scattered clouds,Hilo Hawaiian Hotel
23,Salalah,OM,75.29,17.0151,54.0924,clear sky,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
27,Morant Bay,JM,82.02,17.8815,-76.4093,overcast clouds,Whispering Bamboo Cove Resort
...,...,...,...,...,...,...,...
649,Luanda,AO,75.20,-8.8368,13.2343,broken clouds,EPIC SANA Luanda
650,Hienghene,NC,76.55,-20.6833,164.9333,scattered clouds,Ka Waboana Lodge
653,Aquiraz,BR,80.69,-3.9014,-38.3911,scattered clouds,Pousada Rua Camurupim
655,Carmen,MX,80.35,18.6333,-91.8333,overcast clouds,Hotel Lossandes
658,Ibra,OM,75.54,22.6906,58.5334,few clouds,مزرعة راحة النفوس المنزفة

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Le Gîte d’Iracoubo</dd>\n<dt>City</dt><dd>Iracoubo</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 86.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Whispering Bamboo Cove Resort</dd>\n<dt>City</dt><dd>Morant Bay</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel</dd>\n<dt>City</dt><dd>Laguna</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lords Inn Porbandar</dd>\n<dt>City</dt><dd>Porbandar</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Dawei</dd>\n<dt>City</dt><dd>Dawei</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.13 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1    5.4802  -53.2011
8   10.5669   72.6420
14  19.7297 -155.0900
23  17.0151   54.0924
27  17.8815  -76.4093
28 -21.2078 -159.7750
31  38.4210 -121.4238
36  21.6422   69.6093
37  14.0833   98.2000
39   5.4112  100.3354

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Import collections module
import collections
collections.Iterable = collections.abc.Iterable

# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))